html {
			 font-family: Helvetica;
		 }
		 
		 .old-info {
         color: grey;
         text-decoration: line-through;
         }
		 
         .hidden {
         display: none;
         }
		 
		 .ticketItem {
			 border: 1px solid grey;
		 }
		 
		 .removeTicketItemBtn {
			background-color: red;
			color: white;
		 }
		 
		 .ticketItemText {
			 font-weight: bold;
		 }
		 
		 .ticketItemOverrideNote, .ticketItemOverridePrice {
			color: red;
         }
		
		/* =============================================
		    REQUIRED CSS TO PROPERLY LAYOUT SERVER VIEW
			============================================= */
		#serverViewContainer {
			display: grid;
			grid-template-areas: "serverViewHeader serverViewHeader"
								 "menuTitle        ticketHeader"
		                         "menu             ticketAndOptions"
							     "quickCode        ticketFooter";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content min-content min-content;
		    border: 2px solid black;
         }
		 #serverViewHeader {
			 grid-area: serverViewHeader;
			 display: grid;
			 grid-template-columns: min-content 1fr min-content 1fr min-content;
			grid-template-areas: "cboTable . cboSeat . headerButtonGroup";
		 }
		 #cboTable { 
			grid-area: cboTable;	
		 }
		 #cboSeat { 
			grid-area: cboSeat;	
		 }
		 #headerButtonGroup {
			 grid-area: headerButtonGroup;
			 display: grid;
			 grid-template-columns: 1fr 1fr 1fr;
		 }
		 #menuContainer {
			 grid-area: menu;
			 grid-auto-rows: min-content;
			 display: grid;
			 overflow: auto;
		 }
		 #ticketContainer {
			 grid-area: ticketAndOptions;
			 overflow-y: auto;
			 display: grid;
			 grid-template-columns: 1fr;
			 grid-auto-rows: min-content;
			 
		 }
		 #optionsContainer {
			 grid-area: ticketAndOptions;
			 overflow: auto;
			 display: grid;
			 grid-template-columns: 1fr;
			 grid-auto-rows: min-content;
			
		 }
		 #menuTitle {
			 grid-area: menuTitle;
		 }
		 #ticketHeader {
			 grid-area: ticketHeader;
		 }
		 #ticketHeader {
			 display: grid;
			 grid-template-areas: "ticketHeaderText . cboSplit";
			 grid-template-columns: min-content 1fr min-content;
		 }
		 #ticketHeaderText {
			 grid-area: ticketHeaderText;
		 }
		 #cboSplit {
			 grid-area: cboSplit;
		 }
		 #ticketFooter {
			 grid-area: ticketFooter;
			 display: grid;
			 grid-template-columns: min-content 1fr min-content min-content min-content;
		 }
		 
		 
		 
		 /* =============================================
		    REQUIRED CSS TO PROPERLY LAYOUT AN ORDER ITEM
			============================================= */
		
         .ticketItem {
			display: grid;
			grid-template-columns: 2rem  2rem 1fr 5rem;
         }
		 
		 .ticketItem * {
			 min-height: 1.25em;
			 max-height: 1.25em;
		 }
         .removeTicketItemBtn, ticketItemStatus {
			grid-column: 1;
         }
		 
		 .ticketItemStatus {
			 font-family: Wingdings;
			 font-size: 1.25em;
		 }
         .ticketItemNumber {
         grid-column: 2;
         }
         .ticketItemText, .ticketItemOverrideNote, .modText, .modCustom  {
         grid-column: 3;
         
         }
         .ticketItemPrice, .ticketItemOverridePrice, .modPrice {
         grid-column: 4;
         }