.delivered {
    background-color: black;
    color: white; 
}
 .ready {
    background-color: #42280e;
    color: white;
   
}
.updated{
    background-color: #F6941D;
}


.removed {
    background-color: #777;
    color: white;
}

.ticketItem {
    margin: auto auto auto auto;
    font-size: 1.25rem;
    border-block: 2px solid #FFF;
    min-height: 4rem;
    min-width: 10.95rem;
    max-width: 10.95rem;
 }
 .ticketItem > ul {
    font-size: .9rem;
    margin-left: .75rem;
    margin-block: 0;
    padding: 0;
 }

 .ticketItemStatus {
    font-size: .8rem;
 }

 .ticketItemText {
    padding-left: 2rem;
 }

#frmATG {
    font-family: helvetica;
    background-color: transparent;
    position: relative;
    left: 1rem;
    top: 1rem;
    right: 0;
    padding: 1rem;
    animation: intro .6s ease-in-out 1 backwards;    
}

body {
    overflow-x: hidden;
}

@keyframes updateFlash {
	0% { background-color: #777; color: revert;}
	50% { background-color: #000; color: #fff;}
	100% { background-color: #777; color: revert;}
  }

#descriptors{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-auto-rows: min-content;
    grid-column-gap: 1rem;
    
    animation: updateFlash 1s ease-in-out 1 backwards;
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    min-width: 10.95rem;
    max-width: 10.95rem;
    z-index: 1;
    
    margin-inline: 0;

    background-color: #777;
    color: white;
    border-bottom: 2px solid #FFF;
}
#descriptors:nth-child(odd) {
    font-weight: bold;
    margin-left: auto;
}
.ticketItems{
    position: relative;
    top: 3.5rem;
    left: -1rem;
    min-width: 10.95rem;
    max-width: 10.95rem;
    overflow-y: auto;
    background-color: #FFE699;
    
}

#btnClose {
    grid-column: 1 / span 2;
    
}

button, .button {
    background-color: #F6941D;
    color: white;
    font-weight: bold;
    margin: .25rem .25rem .25rem .25rem;
    min-width: 5rem;
    min-height: 2rem;
    
  }