.modOptionFieldset {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: black !important;
    border: .25rem solid white;
    border-radius: .25rem;
}

.modOptionFieldset > .selModOptionDiv {
    margin-inline: .5rem;
}

.menuCategory > .Div {
    margin-right: 2rem;
}

.modOptionLegend {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

#frmModWindow {
    background-color: #777;
    padding: .5rem;
}

* {
    font-size: 1.25rem;
}

.quantityLogo {
    background-color: white;
    color: black;
    display:inline;
    opacity: 75%;
   margin-right: .5rem;
}

.quantityLogo.one, .quantityLogo.moreThanZero {
    background-color: #F6941D;
}

.modOptionDiv {
    margin-left: 2rem;
}



form {
    width: 95%;
}

input[type="checkbox"]:checked + .checkLabel {
    color: orange !important;
}
input[type="radio"]:checked + .radioLabel {
    color: orange !important;
}

#frmModWindow {
    background-image: linear-gradient(to right, black , #777);
    border: .125rem solid white;
    border-radius: 1rem;
}

