		 .old-info {
         color: grey;
         text-decoration: line-through;
         }
		 		 
		 .ticketItem {
			 border: 1px solid grey;
		 }
		 
		 .removeTicketItemBtn {
			background-color: red;
			color: white;
		 }
		 
		 .ticketItemText {
			 font-weight: bold;
		 }
		 
		 .ticketItemOverrideNote, .ticketItemOverridePrice {
			color: red;
         }

		 #ticketHeaderText, #menuTitle {
			font-size: 2rem;
			font-weight: bold;
			color: white;
		 }

		 #cboTable, #cboSeat, #cboSplit {
			box-shadow: 0 0 10px 100px #eee inset;
			border-radius: 1rem 1rem 1rem 1rem;
			background-color: #F6941D;
			color: black;
			font-weight: bold;
			font-size: 1.5rem;
			margin: .25rem .25rem .25rem .25rem;
			min-width: 5rem;
			border: 2px solid black;
			border-radius: .125rem;
		  }

		  #cboTable > option, #cboSeat > option, #cboSplit > option {
			background-color: #333;
			color: white;
		  }

		  #ticketFlickerBackdrop {
			background-color: black;
			grid-area: ticketAndOptions;
			z-index: -10;
		  }

		 

		  iframe {
			background-color: transparent;
		  }

		  .hidden {
			display: none;
		  }

		  .clear {
			opacity: 0;
		  }

		  #btnMove {
			min-height: 4rem;
		  }