.table {
    opacity: 1;
}


.selected{
    animation: sel_animation 1s linear infinite;
    stroke: black;
    stroke-width: .25rem;
}
.multiSelect{
    stroke-width: 12px;
}
.unassigned{
    fill: beige;
    color: beige;
}
.open{
    /* can't think of a better ready-to-go color than a shade of green, notify Donovan if it clashes too much*/
    fill:yellowgreen;
    color: yellowgreen;
}
.seated{
    fill: #F6941D;
    color: #F6941D
}
.bussing{
    fill: #FFE699;
    color: #FFE699;
}
.disabled{
    fill: gray;
    color: gray;
}
.highlighted{
    stroke-width: .25rem;
    animation: highlighted_animation 3s linear infinite;
}

.highlighted.selected {
    stroke-width: .5rem;
    animation: hybrid_animation 3s linear infinite;
}



@keyframes sel_animation {
    0%, 100% {
        filter: drop-shadow(0rem -.125rem .125rem white);
    }
    25% {
        filter: drop-shadow(.125rem 0rem .125rem white);
    }
    50% {
        filter: drop-shadow(0rem .125rem .125rem white);
    }
    75% {
        filter: drop-shadow(-.125rem 0rem .125rem white);
    }
    
}
@keyframes highlighted_animation {
    0%, 100% {
        stroke: #bf1e2e;
        stroke-width: .125rem;
    }
    25% {
        stroke: #bf1e2e;
        stroke-width: .25rem;
    }
    50% {
        stroke: #bf1e2e;
        stroke-width: .5rem;
    }
    75% {
        stroke: #bf1e2e;
        stroke-width: .75rem;
    }   
}

@keyframes hybrid_animation {
    0%, 100% {
        stroke: #000;
        stroke-width: .125rem;
    }
    25% {
        stroke: #bf1e2e;
        stroke-width: .25rem;
    }
    50% {
        stroke: #000;
        stroke-width: .5rem;
    }
    75% {
        stroke: #bf1e2e;
        stroke-width: .75rem;
    }   
}

