 /* =============================================
	REQUIRED CSS TO PROPERLY LAYOUT A TICKET ITEM
	============================================= */
		
   .ticketItem {
      display: grid;
      grid-template-columns: 8fr  2fr 2fr 2fr; 
   }

   .ticketItemText, .ticketItemOverrideNote, .modText, .modCustom  {
      grid-column: 1;   
   }

   .ticketItemStatus {
      grid-column: 2;
   }
    
   .ticketItemNumber {
      grid-column: 3;
   }
   
   .ticketItemPrice, .ticketItemOverridePrice, .modPrice {
      grid-column: 4;
   }

   .ticketItemText, .ticketItemStatus, .ticketItemNumber, .ticketItemPrice {
      grid-row: 1;
   }

   body {
      margin: 0;
      padding: 0;
      width: 95%;
      margin-inline: auto;
   } 

      
		 
		 
      

            
     

      