html {
	font-family: Helvetica;
  user-select: none;
  background-color: black;
}
body > body{
  margin: 0;
  margin-right: 1rem;
  background-color: black;
}

  .sessionHeader {
    display: grid;
    background-color: #333;
    color: white;
    grid-template-areas: "logo . viewText cboViewer . sessionDetails btnLogout";
    grid-template-columns: min-content 1fr min-content min-content 1fr min-content min-content;
    grid-template-rows: min-content;
    font-weight: bold;
    
  }

  #lgoSession {
    grid-area: logo;
    margin: .25rem .25rem .25rem .25rem;
  }

  #sessionDetails {
    grid-area: sessionDetails;
    margin: auto;
    padding-right: .25rem;
  }

  #btnLogout {
    grid-area: btnLogout;
    min-width: 5rem;
    
    
  }
  select {
    margin: .25rem .25rem .25rem .25rem;
  }
  button, .button {
    background-color: #F6941D;
    color: white;
    font-weight: bold;
    margin: .25rem .25rem .25rem .25rem;
    min-width: 5rem;
    min-height: 2rem;
  }

  button:hover, .button:hover {
    background-color: #bf1e2e;
  }

  .sessionBody {
    background-color: #FFE699;
    opacity: .9;
    width: 98%;
    height: 98%;
    margin: auto auto auto auto;
  }

  .sessionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  #loginBody{
    display: grid;
    grid-template-areas: "loginHeader loginHeader loginHeader"
                         "d login e"
                         "f g     h";
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr min-content 1fr;
    background-color: #777;
    background-image: url("../Images/centres-background.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  #loginContainer {
    grid-area: login;
    margin: auto auto auto auto;
    background-color: #FFE699;
    transform: scale(1.5);
    opacity: .9;
    box-shadow: 5px 10px 8px #444;
    animation: fadeIn .3s;
    animation: blur .3s;
   
  }

  form {
    background-color: #FFE699;
  }

  @keyframes fadeIn {
    0% { opacity: 0; scale: .7; }
    80% { opacity: .25; scale: .9;}
    90% { opacity: .5; scale: .95; }
    100% { opacity: .75; scale: 1;}
  }

  

  @keyframes blur {
    0% { filter: blur(.75rem); }
    50% { filter: blur(.25rem); }
    90% { filter: blur(.125rem); }
    100% { filter: blur(0);}
  }

  .sessionContainer {
    animation: blur .4s;
    background-color: #777;
    background-image: url("../Images/centres-background.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  
 

#loginForm {
  margin: 1rem 1rem 1rem 1rem;
}
  
  #loginHeader {
    display: grid;
    background-color: #333;
    color: white;
    grid-template-areas: "logo title . btnLogout";
    grid-template-columns: min-content min-content 1in min-content;
    grid-template-rows: min-content;
    font-weight: bold;
    padding: .25rem .25rem .25rem .25rem;
  }

  .sessionBubble {
    background-color: red;
  }




  
  