html {
	font-family: Helvetica;
  }

  .sessionHeader {
    display: grid;
    background-color: #333;
    color: white;
    grid-template-areas: "logo . viewText cboViewer . sessionDetails btnLogout";
    grid-template-columns: min-content 1fr min-content min-content 1fr min-content min-content;
    grid-template-rows: min-content;
    font-weight: bold;
    
  }

  #lgoSession {
    grid-area: logo;
    margin: .25rem .25rem .25rem .25rem;
  }

  #sessionDetails {
    grid-area: sessionDetails;
    margin: auto;
    padding-right: .25rem;
  }

  #btnLogout {
    grid-area: btnLogout;
    min-width: 5rem;
    
    
  }
  select {
    margin: .25rem .25rem .25rem .25rem;
  }
  button {
    background-color: #F6941D;
    color: white;
    font-weight: bold;
    margin: .25rem .25rem .25rem .25rem;
    min-width: 5rem;
  }

  button:hover {
    background-color: #bf1e2e;
  }

  .sessionBody {
    background-color: #FFE699;
  }


  
  