 .menuItem:hover {
	font-weight: bold;
	font-size: 1.125rem;
	background-image: linear-gradient(to right, #F6941D , transparent);
	line-height: 2rem;
}
summary {
	background-color: #bf1e2e;
	color: white;
	border: 2px solid white;
	min-height: 4rem;
	margin-block: auto;
}


.selected {
	background-color: #8EA9DB;
}






summary {
	
	font-weight: bold;
}

.menuItem {
	display: grid;
	background-color: transparent;
	grid-template-columns: 5rem 1fr;	
}


* {
	
    
    font-size: 1.25rem;
}

details > summary > details {
	border-top: 3px solid black;
}

