
		
		/* =============================================
		    REQUIRED CSS TO PROPERLY LAYOUT SERVER VIEW
			============================================= */
		

		#sessionBody {
			display: grid;
			grid-template-areas: "serverViewHeader serverViewHeader serverViewHeader"
								 "menuTitle        blank ticketHeader"
		                         "menu             blank ticketAndOptions"
							     "empty            blank ticketFooter";
			grid-template-columns: 40fr 1rem 60fr;
			grid-template-rows: min-content min-content 1fr min-content;
			grid-auto-rows: min-content;
         }
		 #serverViewHeader {
			 grid-area: serverViewHeader;
			 display: grid;
			 grid-template-columns: min-content 1fr min-content 1fr min-content;
			 grid-template-rows: min-content;
			grid-template-areas: "cboTable . cboSeat . headerButtonGroup";
		 }
		 
		 #cboTable { 
			grid-area: cboTable;
		 }
		 #cboSeat { 
			grid-area: cboSeat;	
		 }
		 #headerButtonGroup {
			 grid-area: headerButtonGroup;
			 display: grid;
			 grid-template-columns: 1fr 1fr 1fr 1fr;
		 }

		 #ticketContainer {
			 grid-area: ticketAndOptions;
			 overflow-y: auto;
			 display: grid;
			 grid-template-columns: 1fr;
			 grid-auto-rows: min-content;
			height: 100%;
			min-height: 70vh;
			width: 100%;	 
		 }
		 #menuContainer {
			grid-area: menu;
			 overflow-y: auto;
			 display: grid;
			 grid-template-columns: 1fr;
			 grid-auto-rows: min-content;
			height: 100%;
			min-height: 70vh;
			width: 100%;
		 }
		 #modEditorContainer {
			 grid-area: ticketAndOptions;
			 overflow: auto;
			 display: grid;
			 grid-template-columns: 1fr;
			 grid-auto-rows: min-content;
			 display: none;	
		 }
		 #modEditorContainer.active {
			display: initial;
			z-index: 2;
		 }

		 #menuTitle {
			 grid-area: menuTitle;
			 font-size: 2rem;
			font-weight: bold;
		 }
	
		 #ticketHeader {
			 grid-area: ticketHeader;
			 display: grid;
			 grid-template-areas: "ticketHeaderText . cboSeat cboSplit";
			 grid-template-columns: min-content 1fr min-content min-content;
		 }
		 #ticketHeaderText {
			 grid-area: ticketHeaderText;
		 }
		 #cboSplit {
			 grid-area: cboSplit;
		 }
		 #ticketFooter {
			 grid-area: ticketFooter;
			 display: grid;
			 grid-template-columns:  1fr min-content min-content min-content min-content min-content;
		 }