            .table {
                stroke: black;
            }
            
            .highlighted{
                stroke:orangered;
            }
            .selected{
                stroke-width: 8px;
            }
            .multiSelect{
                stroke-width: 12px;
            }
            .unassigned{
                fill: beige;
            }
            .open{
                /* can't think of a better ready-to-go color than a shade of green, notify Donovan if it clashes too much*/
                fill:yellowgreen;
            }
            .seated{
                fill: #F6941D;
            }
            .bussing{
                fill: #FFE699;
            }
            .disabled{
                fill: gray;
            }