 /* =============================================
	REQUIRED CSS TO PROPERLY LAYOUT A TICKET ITEM
	============================================= */
		
         .ticketItem {
			display: grid;
			grid-template-columns: 2rem  2rem 1fr 5rem;
         }
		 
		 .ticketItem * {
			 min-height: 1.25em;
			 max-height: 1.25em;
		 }
         .removeTicketItemBtn, ticketItemStatus {
			grid-column: 1;
         }
		 
		 .ticketItemStatus {
			 
			 font-size: 1.25em;
		 }
         .ticketItemNumber {
         grid-column: 2;
         }
         .ticketItemText, .ticketItemOverrideNote, .modText, .modCustom  {
         grid-column: 3;
         
         }
         .ticketItemPrice, .ticketItemOverridePrice, .modPrice {
         grid-column: 4;
         }