.ticketItem * {
    min-height: 1.25em;
}

.ticketItem {
    margin: auto auto auto auto;
    font-size: 1.25rem;
    border: 2px solid #FFF;
    min-height: 4rem;
 }

 .ticketItemStatus {
    font-size: .8rem;
 }

 .ticketItemText {
    padding-left: 2rem;
 }
 .modText, .modCustom {
   padding-left: 3rem;
 }

 .disabled {
    background-color: #777;
    color: white;
 }

 .selected {
    background-color: #F6941D;
    border: 2px solid white;
   
}

.multiselect {
    background-color: #42280e;
    color: white;
    border: 2px solid white;
}

