.selected {
    background-color: #F6941D;
    border: 2px solid white;
   
}

.multiselect {
    background-color: #bf1e2e;
    color: white;
    border: 2px solid white;
}

.ticketItem {
    min-height: 4rem;
    
    margin: auto auto auto auto;
    font-size: 1.25rem;
    border: 2px solid #FFF;
 }
