@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#login-container {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

html {
    background-color: #56baed;
  }

h2 {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 60%;
}

#frmLogin {
    display: inline-block;
    text-align: left;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: gray;
    color: white;
}

#errorMessage {
    color: red;
    margin-top: 20px;
}
